<% include partials/header %>

<div class="jumbo-div" id="confirm-jumbo">
    <div class="jumbotron">
        <div class="confirmation">
            <i class="fas fa-check-circle"></i><h1 class="confirmation-header">Thank your for shopping!</h1>
        </div>
    </div>
</div>

<div class="empty-space"></div>
<div class="empty-space"></div>


<% include partials/footer %>