<% include partials/header %>

<div class="jumbo-div" id="confirm-jumbo">
    <div class="jumbotron">
        <div class="confirmation">
            <i class="fas fa-check-circle"></i>
            <h1 class="confirmation-header">Purchase Completed</h1>
            <h3>Thank you for shopping!</h3>
        </div>
    </div>
</div>

<div class="empty-space"></div>
<div class="empty-space"></div>


<% include partials/footer %>