<% include partials/header %>

<h1 class="home-title">Braintree Coding Excercise</h1>

<div class="checkout-link">
    <a href="/checkout">Click here to buy stuff!</a>
</div>

<% include partials/footer %>
