p {
    text-align: center;
}

.hosted-fields--label {
    font-family: Monospace sans-serif;
}

.hosted-field {
    border: 1px solid #DBE8E7;
    box-shadow: 2px 2px #DBE8E7;
    width: 200%;
    padding: 5px;
    margin-bottom: 15%;
    height: 50px;
}

.hosted-field:focus {
    outline: 0;    
}

.hosted-field:nth-of-type(6) {
    width: 75%;
}

.hosted-field:nth-of-type(7) {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

#checkout-title {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-size: 70px;
}

.jumbo-div {
    display: flex;
    justify-content: center;
    text-align: center;
}

.jumbotron {
    width: 54%;
}

button {
    width: 150%;
}

.empty-space {
    height: 100px;
}

.panel {
    width: 65%;
}

.btn {
    width: 110%;
}

.card {
    width: 50%;
    margin: 0 auto;
}

.confirmation {
    color: green;
}

.container {
    margin-top: 1%;
}

.button-container {
    margin: 0 auto;
}

.home-title {
    text-align: center;
    margin-bottom: 5%;
}

.checkout-link {
    margin: 0 auto;
    text-align: center;
}

#confirm-jumbo {
    margin-top: 15%;
}

.error-div {
    width: 54%;
}